/_deps/
/build/
/.vscode/
/bin/
/.idea/

# Ignore CMake files

Makefile
/*/Makefile
/*/CMakeFiles/
/CMakeFiles/
cmake_install.cmake
CMakeCache.txt
server/game/CMakeFiles
lib

# Ignore executables

libquack_game_common.a
quack_game_*
